

.loginComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginComponent>form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginComponent input {
  margin: 10px;
  padding: 10px;
  border: 2px white solid;
  outline: none;
  background-color: transparent;
  width: 90vw;
  max-width: 200px;
  transition: border 250ms;
  color: white;
}

.loginComponent>a {
  margin-top: 10px;
  color: red;
}

.loginComponent input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.loginComponent input:focus {
  border-color: rgb(60, 235, 60);
}

.loginComponent button {
  margin-top: 10px;
  width: 90vw;
  max-width: 200px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

.loginComponent button:hover {
  background-color: white;
  color: black;
}

.loginComponent span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}